---
import '../styles/global.css';

import { getEntry, render } from "astro:content";

const entry = await getEntry("docs", "index");
const { Content } = await render(entry);
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <Content />
</body>
</html>
